* {
  margin: 0;
  padding: 0;
  background-color: rgb(207, 215, 239);
  box-sizing: border-box;
}

main {
  border: 1px solid rgb(0, 0, 0);
  width: 960px;
  margin: 20px auto;
  /* position: fixed;
  top: 20px;
  left: 240px; */
}

section {
  border: 1px solid rgb(0, 0, 0);
  width: 960px;
  overflow: hidden;
}

 ul {
   text-align: center;
 }

 li {
   margin: 3px 0;
   list-style: none;
   padding: 3px 10px;
 }

 button {
   margin: 0 5px;
   float: right;
 }

 span {
   border: 1px dotted rgb(0, 0, 0);
   padding: 2px 5px;
   float: left;
 }

.item {
  padding: 10px 15px;
  margin: 10px;
}

.container {
  flex-wrap: wrap;
  flex-direction: row;
}

.top-items {
  order: 3;
}
