* {
  margin: 0;
  background-color: rgb(157, 165, 189);
}

main {
  border: 1px solid rgb(0, 0, 0);
  width: 960px;
  position: fixed;
  top: 20px;
  left: 240px;
}

 ul {
   text-align: center;
 }

.container {
  flex-wrap: wrap;
  flex-direction: row;
}

.top-items {
  order: 3;
}
